/*work-content*/
.workContent{width:330px;position:relative; display: inline-block;}
.workContent h1{font-size:14px;margin-top:20px; font-weight: normal; background: #eee; padding: 5px 20px; display: inline-block; margin-left: 60px;}
.workContent #banner{background: url("../img/iphone-6s-plus-1534380.svg") no-repeat; background-size: 100%;}
.workContent #banner .vis_frame{width:300px;height:440px;overflow:hidden;position:relative; margin-left: 71px;}
.workContent #banner .vis_frame img{width:180px; border-radius:5px; padding-top: 70px;}
.workContent #banner .vis_frame ul{position:absolute;left:0;top:0;}
.workContent #banner .vis_frame ul li{width:300px;float:left;padding:0 8px;}
.workContent #b_control{position:absolute;right:0;top:5px; display: none;}
.workContent #b_bt a.left{position:absolute;left:0px;top:50%;}
.workContent a i{color:#ddd; font-size:30px;}
.workContent a i:hover{color:#333;}
.workContent #b_bt a.right{position:absolute;right:0px;top:50%;}
.workContent #pos{text-align:center;margin-top:10px; display: none;}
.workContent #pos span{display:inline-block;width:10px;height:10px;border:1px solid #ccc;margin:0 2px;}
.workContent #pos span.on{background:red;}
.workContent2{display: inline-block; vertical-align: top; width: 700px; margin-top: 20px;}
.workContent2 h2{font-size:20px; margin-bottom: 20px;}
.workContent2 p{line-height: 25px;}
.workContent2 p.info{margin-bottom:20px;}
.workContent2 p span{color:#1DA1F2;}
.workContent2 p a{display: inline-block;}